
<div id="search">
	<form action="/posts/search">
		<div class="searchbox">
			<input type="text" name="keywords" value="" />
		</div>
		<button class="search"> </button>
	</form>
	
</div>

<div class="divider"> </div>