<% if flash[:error] %>
<div id="response">
  <div id="flashMessage" class="error">
    <ul>
      <li><%= flash[:error] %></li>    
    </ul>
  </div>  
</div>
<% end %>
<% if flash[:notice] %>
<div id="response">
  <div id="flashMessage" class="error">
    <ul>
      <li><%= flash[:notice] %></li>    
    </ul>
  </div>  
</div>
<% end %>
